@charset "UTF-8";

.grid-item
{
    width: 300px;
}

.grid-item--width2 { width: 600px; }

.card-title {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

pre {
    background-color: rgb(211, 211, 211);
}

blockquote {
    border-left: 5px solid #eee;
    padding: 10px 20px;
    margin: 0 0 20px;
}
