{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block headers %}
<link href="{% static 'blog/css/style.css' %}" rel="stylesheet" />
{% endblock %}



{% block content %}

<div class="d-flex justify-content-center mt-5">

  <div class="col-12 col-md-5 col-lg-4">
    <!-- Heading -->
    <h1 class="mb-5">
      {% if user.is_staff %}
        <div class="float-end"><a href="{% url 'admin:blog_blogpost_change' blog_post.slug %}">
          <i class="bi bi-pencil"></i>
        </a></div>
      {% endif %}
      {{ blog_post.title }}
    </h1>
    {% if blog_post.main_photo %}
      <img src="{{ blog_post.main_photo.photo_file.url }}" class="w-100" />
    {% endif %}

    {{ blog_post.content_html }}
    
  </div>
</div>

{% endblock %}
