{% extends 'base.html' %}

{% load static %}


{% block headers %}
<link href="{% static 'blog/css/style.css' %}" rel="stylesheet" />
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
{% endblock %}


{% block content %}
<div class="d-flex justify-content-center mt-5">

  <div class="col-12 col-md-10 col-lg-4">
    <!-- Heading -->
    <h1 class="mb-5 fw-bold text-center"></h1>

    <p></p>

    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 300 }'>
        {% for blog_post in blog_posts %}

        <div class="grid-item">
            <div class="card m-3">
                {% if blog_post.main_photo %}
                  <img src="{{ blog_post.main_photo.photo_file.url }}" style="height:{{ blog_post.main_photo.prop_height }}px; widht:300px;" />
                {% else %}
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                      <title>Placeholder</title>
                      <rect width="100%" height="100%" fill="#868e96"></rect>
                      <text x="30%" y="50%" fill="#dee2e6" dy=".3em">Photo à venir</text>
                  </svg>
                {% endif %}
                <div class="card-body">
                <p class="card-title"><a href="{% url 'blog_post:detail' blog_post.slug %}" class="stretched-link">{{ blog_post.title }}</a></p>
                <p class="card-text">{{ blog_post.headlines }}</p>
                </div>
            </div>
        </div>

        {% empty %}
        <p class="text-muted">Aucun billet.</p>
        {% endfor %}
    </div>
    
  </div>
</div>

{% endblock %}
