{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<div class="d-flex justify-content-center mt-5">

  <div class="col-12 col-md-5 col-lg-4">
    <!-- Heading -->
    <h1 class="mb-5">
      QR Code pour accès via mobile
    </h1>
    
    <div class="card m-3">
        <img src="{{ qrcode_site }}" />
        <div class="card-body">
            <p class="card-title">Accès au site</p>
        </div>
    </div>

    <div class="card m-3">
        <img src="{{ qrcode_admin }}" />
        <div class="card-body">
            <p class="card-title">Accès à l'admin</p>
        </div>
    </div>
    
  </div>
</div>

{% endblock %}
